doctype html
html
  head
    title=app
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    if settings.env == 'production'
      link(rel='stylesheet', href='/build/main.css')

  body
    block content

  footer
      script(src='/build/main.js')
